*{
  margin:0px;
  padding: 0px;
}
#ayuda
{
margin-left: 1250px;
margin-top: 90px;
}

body{
  background: url(https://i.pinimg.com/736x/f3/eb/ee/f3ebeef11ecbc56a098331a78f2f3192.jpg)   no-repeat left  top;
  background-size: 35% 100%;
}

h4{
  font-size:30px;
  family-name:"Nichainley";
}

p {
	color:black;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size:26px;
 }

h1{
  background: linear-gradient(#FF69B4,#FAEBD7,#BA55D3);
  -webkit-background-clip: text;
  color: transparent;
   font-size: 50px;
   align : center;
   padding:30px;
}
  #header{
background-image: url(https://i.ytimg.com/vi/vUQUDS-TL6Q/hqdefault.jpg);
width: 700px;
height: 200px;
float: right;
margin:auto;
}
#cuerpo{
  width: 700px;
  height: 700px;
  float: right;
  margin:35px;
}

input {
    font-family : sans-serif;
    padding: 4px;
    border: 0px , black;
    border-radius: 10px;
    text-align: center;
    style="font-family: Arial;
    font-size: 8pt;
  }

  button{
    font-family : sans-serif;
    padding: 4px;
    border: 0px , black;
    border-radius: 12px;
    text-align: center;
  }

  textarea{
    font-family : sans-serif;
    padding: 4px;
    border: 0px , black;
    border-radius: 12px;
    text-align: center;
    width:200px;
    height:80px;
    border: 1px dotted;
  }


  .uno {
    background-color:#faffff;
  }
  .dos{
    background-color:	#ffe4e1;
  }
  .tres{
    background-color:#fdfd96;
  }
  .cuatro{
  background-color:#eadcea;
  }
.content-box-black,
  .content-box-purple,
  .content-box-blue,
  .content-box-red,
  .content-box-cyan {
  margin: 0px;
  overflow: hidden;
  padding: 2px;
  }
  .content-box-black{
  background-color:#FFFFFF;
display: -webkit-flex;
display: -ms-flexbox;
    display: flex;
    position:absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 300px;
  margin-left: 100px;
width: 390px;
height: 400px;
  }

  .content-box-blue {
  background-color: #faffff;
  border: 1px solid #afcde3;
  padding: 5px;
  float:right;
  }
  .content-box-red {
  background-color: #ffe4e1;
  border: 1px solid #e9b3b3;
  padding: 10px;
  float:left;
  }
  .content-box-cyan {
  background-color: #fdfd96;
  border: 1px solid #bebde9;
  padding: 10px;
  float:right;
  }
  .content-box-purple {
  background-color: #eadcea;
  border: 1px solid #bebde9;
  padding: 5px;
  float: left;
  }
